/* You can add global styles to this file, and also import other style files */
.details {
    color: lightgray;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary {
    background-color:#261570;
    border-color: #261570;
}

.btn-primary:hover {
    background-color: green;
    border-color: green;
}
